input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button:hover {
    cursor: pointer;
}
header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-top: solid #d2d3e2 5px;
}
body{
    margin: 0;
    background-color:#181820;
}
.logo {

    width: 150px;
    height: 150px;
    margin-top: 1%;
    margin-left: 5%;
}
.logo:hover {
    transition: all 0.3s ease;
    width: 170px;
    height: 170px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.login-sign{
    display: flex;
    background-color: #2beaff00;
    height: 40px;
    width: 250px;
    border-top: solid 3px #d2d3e200;
    margin-right: 5%;
    margin-top: 1%;
    border-radius: 1000px;
}
.login {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 45%;
}
.signin {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1%;
    width: 45%;
}
.selections {
    display: flex;
    background-color: #040404;
    width: 95%;
    margin-left: 2.5%;
    height: 41px;
    border-radius: 20px;
    border-bottom: solid 3px #d2d3e2;
}
.selection {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    color: #d2d3e2;
    background-color: #33344400;
    width: 20%;
    margin-top: 1px;
    height: 40px;
}
.lefting {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.righting {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.selection:hover {
    color: #d2d3e2;
    transition: all 0.3s ease;
    border: solid 3px #20c99600;
    border-bottom: solid 3px #d2d3e2;;
    background-color: #181820;
}
.loginbtn {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    color: #d2d3e2;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #181820;
    border-top: solid 5px #d2d3e2;
    border-left: solid 2px #d2d3e2;
}
.loginbtn:hover{
    border-bottom: solid 5px rgb(255, 234, 0);
    border-left: solid 2px rgb(255, 234, 0);
    border-top: solid 5px #20c99600;
    background-color: #20c99600;
    color: rgb(255, 234, 0);
    transition: all 0.3s ease;
}
.signbtn {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    color: rgb(255, 234, 0);
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #181820;
    border-bottom: solid 5px rgb(255, 234, 0);
    border-left: solid 3px rgb(255, 234, 0);
    border-top: solid 1px rgb(255, 234, 0);
}
.signbtn:hover{
    color: #d2d3e2;
    border-top: solid 5px #d2d3e2;
    border-bottom: solid 5px #20c99600;
    border-left: solid 3px #d2d3e2;
    background-color: #181820;
    transition: all 0.1s ease;
}
.events {
    display: flex;
    background-color: #2c2c3d;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-top: 1%;
}
.bigimg {
    background-color: rgb(255, 234, 0);
    width: 70%;
    height: 100%;
    border-radius: 15px;
}
.bigimg:hover {
    background-color: rgb(255, 234, 0);
    width: 72%;
    height: 102%;
}
.minimg {
    background-color: rgba(245, 222, 179, 0);
    height: 100%;
    width: 30%;

}
.minings {
    border: 2px black solid;
    height: 196px;
    margin-bottom: 1px;
    width: 100%;
    background-color: rgb(255, 234, 0);
    border-radius: 15px;

}
.minings:hover {
    height: 200px;
    width: 102%;
}
.photos {
    width: 98%;
    height: 98%;
    margin-top: 1%;
    margin-left: 1%;
}
.campaigns-side {
    width: 100%;
    height: 0.5px;
    background-color: #4c4c4c;
    margin-top: 50px;
}
.campaigns {
    border-radius: 50px;
    width: 90%;
    margin-left: 5%;
    height: 900px;
    background-color: #d2d3e2;
    margin-top: 50px;
}
.campaigns-title {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 150px;
    background-color: #181820;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campaigns-title:hover{
    background-color: √;
    color:#d2d3e2
}
.campaigns-title-item {
    font-size: 50px;
    color: #d2d3e2;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
}
.campaigns-items1,
.campaigns-items2,
.campaigns-items3 {
    display: flex;
    background-color: #181820;
    width: 100%;
    height: 250px;
}
.campaigns-items3{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.campaigns-item {
    background-color: #000000;
    margin: 4px;
    width: 25%;
    height: 240px;
    border-radius: 10px;
    border: solid 1px #d2d3e2;
}
.campaigns-item:hover {
    width: 26%;
    height: 245px;
    transition: all 0.3s ease;
}
.dipnot {
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    color: #d2d3e2;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
}
.dipnot:hover {
    background-color: rgb(255, 234, 0);
    color: #000000;
    font-size: 20px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.info:hover {
    background-color: #343891;
    border: solid 2px #343891;
    color: #d2d3e2;
    transition: all 0.3s ease;
}

.logosign {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 10px solid rgb(255, 234, 0);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin-left: 25%;
    width: 50%;
    height: 100px;
}
.sign-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
}
.beetween {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 90px;
    margin: 5px;
}
.beetween a {
    margin: 0;
}
.hiza {
    color: #d2d3e2;
    background-color: #000000;
    width: 250px;
    margin: 15px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #d2d3e2;
    padding: 10px;
    font-size: 20px;
}
.alert {
    text-decoration: none;
    font-size: 12px;
    color: #d2d3e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sign-btn2,
.login-btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #343891;
    color: #d2d3e2;
    font-size: 15px;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px #d2d3e2;
    margin-right: 30px;
}
.sign-btn2:hover,
.login-btn:hover {
    background-color: rgb(255, 234, 0);
    color: #343891;
    height: 45px;
    transition: all 0.3s ease;
}
.login-btn {
    width: 60%;
}
.login-btn:hover {
    width: 70%;
    transition: all 0.3s ease;
}
.hiza2 {
    color: #d2d3e2;
    background-color: #000000;
    width: 90%;
    margin: 15px;
    height: 35%;
    border-radius: 5px;
    border: solid 1px #d2d3e2;
    padding: 10px;
    font-size: 20px;
}
.header-bakiye {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30px;
    background-color: rgb(255, 234, 0);
    border-radius: 50px;
    margin-right: 50px;
}
.header-bakiye:hover {
    background-color: #d2d3e2;
}
.header-bakiye a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.exit {
    color: #d2d3e2;
    margin-right: 30px;
    background-color: #181820;
    width: 10%;
    height: 30px;
    border-radius: 100px;
}
.alert33 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ff0000;
    font-size: 12px;
}
.popupaccount {
    position: absolute;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 79%;
    width: 18%;
    height: 150px;
}
.case{
    color: #d2d3e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    background-color: #3a4553;
    font-size: 15px;
    width: 100%;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: solid 3px rgba(255, 0, 0, 0);
}
.case:hover {
    background-color: #d2d3e2;
    color: #448095;
    transition: all 0.3s ease;
}
.settings{
    color: #d2d3e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    border: solid 3px rgba(255, 0, 0, 0);
    border-top: solid 2px #d2d3e2;
    background-color: #3a4553;
    width: 100%;
    height: 50px;
}
.settings:hover {
    background-color: #d2d3e2;
    color: #448095;
    transition: all 0.3s ease;
}
.exitbtn{
    border: solid 3px rgba(255, 0, 0, 0);
    border-top: solid 2px #d2d3e2;
    color: #d2d3e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #3a4553;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.exitbtn:hover {
    background-color: #d2d3e2;
    color: #448095;
    transition: all 0.3s ease;
}
.selection-case {
    color: #d2d3e2;
    text-decoration: none;
}
.menu-card {
    margin: 50px;
    width: 30%;
    height: 430px;
}
.flx {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a4553;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 50px;
}
.btnset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 5px solid rgba(127, 127, 127, 0.114);
    color: #d2d3e2;
    width: 100%;
    background-color: #3a4553;
    border-radius: 50px;
    height: 50px;
}
.btnset:hover {
    background-color: #939aa45b;
    transition: all 0.3s ease;
}
.active {
    background-color: rgba(255, 234, 0, 0.603);
}
.account-card {
    display: flexbox;
    margin-top: 50px;
    width: 60%;
    height: 600px;
}
.homeset {
    height: 850px;
    width: 100%;
    display: flex;

}
.bakiyegoster-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255, 234, 0, 0.321);
    margin-left: 5%;
    margin-top: 30px;
    width: 90%;
    height: 250px;
}
.bakiyegoster-card:hover {
    background-color: rgba(255, 234, 0, 0.603);
}
.tlyukle-card {
    border-radius: 15px;
    background-color: rgba(255, 234, 0, 0.321);
    margin-left: 5%;
    margin-top: 30px;
    width: 90%;
    height: 250px;
}
.tlyukle-card:hover {
    background-color: rgba(255, 234, 0, 0.603);
    transition: all 0.3s ease;
}
.bakiyeset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #d2d3e2;
    font-size: 70px;
}
.bktp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    font-size: 30px;
}
.titlety {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}
.alttitlety {
    width: 100%;
    height: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tlyukle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    width: 30%;
    height: 40px;
    border-radius: 15px;
    border: solid 1px #41576047;
    border-bottom: solid 3px #0fa9e647;
    background-color: #448095;
}
.tlyukle:hover {
    background-color: #dfe9df4a;
    color: #000000;
    border-bottom: solid 6px #171717f2;
    transition: all 0.1s ease;
}
.veriyok{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    margin: 250px;
}
.accountset-card{
    margin: 60px;
    width: 60%;
    height: 600px;
}
.menu-set {
    width: 100%;
    height: 100px;
}
.person-set {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    font-size: 20px;
    width: 49.8%;
    height: 100px;
    border-top-left-radius: 50px;
    border: solid 5px rgba(5, 186, 177, 0.027);
    background-color: rgba(255, 234, 0, 0.321);
}
.private-set {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-weight: bold;
    font-size: 20px;
    width: 49.5%;
    height: 100px;
    border-top-right-radius: 50px;
    border: solid 5px rgba(5, 186, 177, 0.027);
    background-color: rgba(255, 234, 0, 0.321);
}
.form-card1 {
    display: flexbox;
    width: 100%;
    margin-top: 5px;
    height: 400px;

}
.ustform{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.altform {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.forminp{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-size: 15px;
    background-color: #000000;
    width: 90%;
    height: 25px;
    border: 2px solid rgba(251, 247, 247, 0.143);
    border-radius: 10px;
}
.formtit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.readonly {
    background-color: #0000002a;
    color: #8a8a8a;
}
.formbtn {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbtn2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-size: 15px;
    width: 20%;
    height: 40px;
    border-radius: 15px;
    background-color: #343891;
}
.formbtn3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d2d3e2;
    font-size: 15px;
    width: 20%;
    height: 40px;
    border-radius: 15px;
    background-color: #343891;
}
/* en aşağıda duracaklar */
.positive {
    position: relative;
    opacity: 1;
    pointer-events: all;
}
.negative {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
